<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div id="app"></div>

  <template id="my-app">
    <template v-if="books.length > 0">
      <table>
        <thead>
          <th></th>
          <th>书籍名称</th>
          <th>出版日期</th>
          <th>价格</th>
          <th>购买数量</th>
          <th>操作</th>
        </thead>
        <tbody>
          <tr v-for="(book, index) in books">
            <td>{{ index + 1 }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.date }}</td>
            <td>{{ addSymbol(book.price) }}</td>
            <td>
              <button @click="decrease(index)" :disabled="book.count <= 1"> - </button>
              <span class="counter">{{ book.count }}</span>
              <button @click="increase(index)"> + </button>
            </td>
            <td><button @click="removeBook(index)">移除</button></td>
          </tr>
        </tbody>
      </table>
      <h2>总价格： {{ addSymbol(totalPrice) }}</h2>
    </template>
    <template v-else>
      <h2>购物车 🛒 为空～</h2>
    </template>


  </template>

  <script src="../../js/vue.js"></script>
  <script src="index.js"></script>

</body>

</html>